nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;

}
nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  color: #1565c0;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  color: #1565c0;
  font-size: 1.2rem;
  font-weight: 500;
}
nav ul a:hover {
  color: #1565c0;
  text-decoration: underline;
}
.logo-icon {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
body {
  font-family: 'Poppins', sans-serif;
}
.hero-imagem img {
  width: 500px;
  height: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 60px 80px;
   background-color: #f0f4f8;
}
.subtitulo {
  font-size: 1.3rem;
}
header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #0a2540;
  margin-bottom: 16px;
}
.btn-hero {
  display: inline-block;
  background-color: #1565c0;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 24px;
}
.btn-hero:hover {
  background-color: #0a2540;
}
header p {
  color: #444;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 12px;
}
.sobre {
  padding: 60px 80px;
  background-color: #ffffff;
}

.sobre h1 {
  font-size: 2rem;
  color: #0a2540;
  margin-bottom: 16px;
}

.sobre p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  max-width: 600px;
}
footer {
  background-color: #0a2540;
  color: #ffffff;
  text-align: center;
  padding: 24px;
  font-size: 0.9rem;
}
