nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;

}
nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  color: #1565c0;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  color: #1565c0;
  font-size: 1.2rem;
  font-weight: 500;
}
nav ul a:hover {
  color: #1565c0;
  text-decoration: underline;
}
.logo-icon {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
body {
  font-family: 'Poppins', sans-serif;
}